<ion-grid>
  <ion-row class="legend">
    <ion-col>Id</ion-col>
    <ion-col>Date</ion-col>
    <ion-col>Description</ion-col>
    <ion-col>Id espace de coworking</ion-col>
    <ion-col>
      <ion-button size="small" expand="full" (click)="AddItem()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let row of data">
    <ion-col>{{ row.Id }}</ion-col>
    <ion-col>{{ row.Date | date: "dd/MM/yyyy" }}</ion-col>
    <ion-col>{{ row.Description }}</ion-col>
    <ion-col>{{ row.PlaceId }}</ion-col>
    <ion-col>
      <ion-button size="small" expand="full" (click)="Delete(row.Id)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>