<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      Co'Work
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-split-pane contentId="menu-content">
    <!--  our side menu  -->
    <ion-menu contentId="menu-content">
      <ion-content>
        <ion-list>
          <ion-item (click)="LoadDataTable('User')">Utilisateurs</ion-item>
          <ion-item (click)="LoadDataTable('Subscription')">Abonnements</ion-item>
          <ion-item (click)="LoadDataTable('SubscriptionType')">Type d'abonnements</ion-item>
          <ion-item (click)="LoadDataTable('Meal')">Repas</ion-item>
          <ion-item (click)="LoadDataTable('MealBooking')">Réservations des repas</ion-item>
          <ion-item (click)="LoadDataTable('Place')">Espaces de coworking</ion-item>
          <ion-item (click)="LoadDataTable('Room')">Salles</ion-item>
          <ion-item (click)="LoadDataTable('RoomBooking')">Réservations des salles</ion-item>
          <ion-item (click)="LoadDataTable('Ticket')">Tickets</ion-item>
          <ion-item (click)="LoadDataTable('TicketComment')">Commentaires des tickets</ion-item>
          <ion-item (click)="LoadDataTable('TimeSlot')">Heures d'ouvertures des espaces de corworking</ion-item>
          <ion-item (click)="LoadDataTable('Ware')">Matériels</ion-item>
          <ion-item (click)="LoadDataTable('WareBooking')">Réservations de matériel</ion-item>
          <ion-item (click)="LoadDataTable('TicketWare')">Matériels associés aux tickets</ion-item>
          <ion-item (click)="LoadDataTable('TicketAttribution')">Attributions des tickets</ion-item>
          <ion-item (click)="LoadDataTable('StaffLocation')">Attribution du personnel aux espaces de coworking </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- the main content -->
    <ion-content id="menu-content">
      <dynamic-data-host [DataModelComponents]="Definitions" [SelectedComponent]="SelectedDefinition" [Refresher]="Refresher"></dynamic-data-host>
    </ion-content>
  </ion-split-pane>
</ion-content>
