<ion-grid>
  <ion-row class="legend">
    <ion-col>Id</ion-col>
    <ion-col>Id client</ion-col>
    <ion-col>Contrat avec engagement</ion-col>
    <ion-col>Dernier renouvellement</ion-col>
    <ion-col>Espace de coworking</ion-col>
    <ion-col>Type d'abonnement</ion-col>
    <ion-col>
      <ion-buttons>
        <ion-button size="small" (click)="dataHandler.AddItem()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
        <ion-button size="small" (click)="dataHandler.Refresh()">
          <ion-icon name="refresh"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let row of dataHandler.Data">
    <ion-col>{{ row.Id }}</ion-col>
    <ion-col>{{ row.ClientId }}</ion-col>
    <ion-col>{{ row.FixedContract ? "Oui" : "Non" }}</ion-col>
    <ion-col>{{ row.LatestRenewal | date: "dd/MM/yyyy" }}</ion-col>
    <ion-col>{{ row.Place.Name }}</ion-col>
    <ion-col>{{ row.Type.Name }}</ion-col>
    <ion-col>
      <ion-buttons>
        <ion-button color="danger" size="small" (click)="dataHandler.Delete(row.Id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
        <ion-button size="small" (click)="dataHandler.UpdateItem(row, fields)">
          <ion-icon slot="icon-only" name="open"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="dataHandler.LoadData($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-grid>