<ion-grid>
  <ion-row class="legend">
    <ion-col>Id</ion-col>
    <ion-col>Id du repas</ion-col>
    <ion-col>Id de l'utilisateur</ion-col>
    <ion-col>
      <ion-button expand="full" size="small" (click)="AddItem()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let row of data">
    <ion-col>{{ row.Id }}</ion-col>
    <ion-col>{{ row.MealId }}</ion-col>
    <ion-col>{{ row.UserId }}</ion-col>
    <ion-col>
      <ion-button size="small" expand="full" color="danger" (click)="Delete(row.Id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
