<ion-grid>
  <ion-row class="legend">
    <ion-col>Id</ion-col>
    <ion-col>jour concerné</ion-col>
    <ion-col>Espace de coworking</ion-col>
    <ion-col>Heure d'ouverture</ion-col>
    <ion-col>Heure de fermeture</ion-col>
    <ion-col>
      <ion-button size="small" expand="full" (click)="AddItem()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let row of data">
    <ion-col>{{ row.Id }}</ion-col>
    <ion-col>{{ GetWeekDay(row.Day) }}</ion-col>
    <ion-col>{{ row.Place.Name }}</ion-col>
    <ion-col>{{ PadTime(row.StartHour) + ":" + PadTime(row.StartMinutes) }}</ion-col>
    <ion-col>{{ PadTime(row.EndHour) + ":" + PadTime(row.EndMinutes) }}</ion-col>
    <ion-col>
      <ion-button color="danger" size="small" expand="full" (click)="Delete(row.Id)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>