<ion-grid>
  <ion-row class="legend">
    <ion-col *ngFor="let field of fields">{{ field.Label }}</ion-col>
    <ion-col>
      <ion-button size="small" expand="full" (click)="AddItem()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let row of data">
    <ion-col *ngFor="let field of fields">{{ row[field.Name] }}</ion-col>
    <ion-col>
      <ion-buttons>
        <ion-button color="danger" size="small" (click)="Delete(row.Id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
        <ion-button size="small" (click)="UpdateItem(row, fields)">
          <ion-icon slot="icon-only" name="open"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-grid>