<ion-grid>
  <ion-row class="legend">
    <ion-col>Id</ion-col>
    <ion-col>Type</ion-col>
    <ion-col>FirstName</ion-col>
    <ion-col>LastName</ion-col>
    <ion-col>Est Étudiant</ion-col>
    <ion-col>
      <ion-button size="small" expand="full" (click)="AddItem()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let row of data">
    <ion-col>{{ row.Id }}</ion-col>
    <ion-col>{{ GetUserType(row.Type) }}</ion-col>
    <ion-col>{{ row.FirstName }}</ion-col>
    <ion-col>{{ row.LastName }}</ion-col>
    <ion-col>{{ row.IsAStudent ? "Oui" : "Non"}}</ion-col>
    <ion-col>
      <ion-buttons>
        <ion-button color="danger" size="small" (click)="Delete(row.Id)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-button>
        <ion-button size="small" (click)="UpdateItem(row, fields)">
          <ion-icon slot="icon-only" name="open"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>
</ion-grid>
