<ion-grid>
  <ion-row class="legend">
    <ion-col>Id</ion-col>
    <ion-col>Nom</ion-col>
    <ion-col>Espace de coworking</ion-col>
    <ion-col>Type de salle</ion-col>
    <ion-col>
      <ion-button size="small" expand="full" (click)="AddItem()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let row of data">
    <ion-col>{{ row.Id }}</ion-col>
    <ion-col>{{ row.Name }}</ion-col>
    <ion-col>{{ row.Place.Name }}</ion-col>
    <ion-col>{{ GetRoomType(row.Type) }}</ion-col>
    <ion-col>
      <ion-button color="danger" size="small" expand="full">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
