<ion-grid>
    <ion-row *ngIf="Meals.length === 0">
        <ion-col offset="3" size="6">
            <ion-item >Aucun plateau repas disponible</ion-item>
        </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of Meals">
        <ion-col offset="3" size="6">
            <ion-card color="light">
                <ion-card-header color="primary">
                    <ion-label><h2>{{ item.Date.toFormat("dd/MM/yyyy") }}</h2></ion-label>
                </ion-card-header>
                <ion-card-content>
                    <ion-label>
                        <ion-label><h3>{{ item.Description }}</h3></ion-label>
                    </ion-label>
                    <ion-button *ngIf="IsAlreadyBooked(item)" slot="end" disabled="true">Déjà Reservé</ion-button>
                    <ion-button *ngIf="IsAlreadyBooked(item)" slot="end" (click)="Unbookmeal(item)">Annuler Reservation</ion-button>
                    <ion-button *ngIf="!IsAlreadyBooked(item)" slot="end" (click)="BookMeal(item)">Reserver</ion-button>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>

