<ion-grid>
  <ion-row class="legend">
    <ion-col>Id</ion-col>
    <ion-col>Titre</ion-col>
    <ion-col>Description</ion-col>
    <ion-col>Id personnel auquel est attribué le ticket</ion-col>
    <ion-col>Date création</ion-col>
    <ion-col>Id utilisateur ayant ouvert le ticket</ion-col>
    <ion-col>Espace de coworking</ion-col>
    <ion-col>Date planifié pour la résolution du ticket</ion-col>
    <ion-col>État du ticket</ion-col>
  </ion-row>
  <ion-row *ngFor="let row of data">
    <ion-col>{{ row.Id }}</ion-col>
    <ion-col>{{ row.Title }}</ion-col>
    <ion-col>{{ row.Description }}</ion-col>
    <ion-col>{{ row.AttributedToId }}</ion-col>
    <ion-col>{{ row.Created | date: "dd/MM/yyyy" }}</ion-col>
    <ion-col>{{ row.OpenedById }}</ion-col>
    <ion-col>{{ row.Place.Name }}</ion-col>
    <ion-col>{{ row.PlanifiedResolution || null }}</ion-col>
    <ion-col>{{ GetTicketState(row.State) }}</ion-col>
  </ion-row>
</ion-grid>